@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

$Art: rgb(216, 114, 114);
$Biography: rgb(172, 202, 39);
$Computers: rgb(113, 136, 209);
$History: rgb(152, 120, 228);
$Medical: rgb(99, 218, 105);
$Poetrys: rgb(86, 191, 209);
